    .dhx_cal_navline div, .dhx_cal_header, .dhx_cal_header div, .dhx_cal_data div, .dhx_cal_light, .dhx_cal_light div {
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
    }

    .dhx_cal_light .dhx_cal_radio label{
       margin-bottom: 0;
    }

    .dhx_cal_event div {
      line-height: normal;
    }

.dhx_matrix_scell {
    border-bottom: 1px dotted #8894A3;
    border-right: 1px dotted #8894A3;
    overflow: hidden;
    text-align: left;
    vertical-align: middle;
}
table td {
    padding: 0px;
}
